<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6vKpD52G6hBRGXxmCshE4k2d3X-aW1lo</string>
	<key>GCM_SENDER_ID</key>
	<string>863362114183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cosmoCare</string>
	<key>PROJECT_ID</key>
	<string>cosmo-care-db4b9</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmo-care-db4b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863362114183:ios:c9f4d2a67a8a80d703ce22</string>
</dict>
</plist>